.middle-nav-container {
    background:  #ff97b7;
    background: -webkit-linear-gradient(to right, #ff5d8f, #ff97b7);  
    background: linear-gradient(to right, #ff5d8f, #ff97b7);
}
.middle-nav-container .middle-nav-hamburger img {
    width: 30px;
}
.middle-nav-container .middle-nav-header {
    display: flex;
    align-items: center;
    column-gap: 5px;
  
}
.middle-nav-header.sticky-nav {
    position: fixed;
    background: none;
    top: 0;
    left: 0;
    width:80%;
    margin-top: 2px;
    margin-left: 40px;
    z-index: 20;
    transition: all 0.3s linear;
}
.hero-sidebar-container {
    width: 100%;
    height: 100vh;
    background:  #ff97b7;
    background: -webkit-linear-gradient(to right, #ff5d8f, #ff97b7);  
    background: linear-gradient(to right, #ff5d8f, #ff97b7);
    position: fixed;
    top: 0;
    right: 100%;
    transition: all 0.4s linear;
    overflow-y: scroll;
}
.hero-sidebar-container.show-sidebar {
    right: 0;
    opacity: 1;
}
.hero-sidebar-container .logo-section img {
    width: 35px;
}
.hero-sidebar-container .close-button1 img {
    width: 25px;
}
.hero-sidebar-container .hero-sidebar-header {
    display: flex;
    justify-content: space-between;
}
.hero-sidebar-container .chapter-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 35px;
    padding-right: 15px;
}
.hero-sidebar-container .chapter-link {
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 5px;
}
.hero-sidebar-container .chapter-link.active {
    background: white;
    color: #000;
}

@media screen and (min-width:992px) {
    .middle-nav-container {
        /* display: none; */
    }
    .middle-nav-header.sticky-nav {
        margin-top: 17px;
        margin-left: 20px;
        z-index: 20;
        transition: all 0.4s linear;
    }
    .hero-sidebar-container.show-sidebar {
        right: 65%;
        opacity: 1;
    }
    .hero-sidebar-container .hero-sidebar-header {
        padding-left: 1000px;
    }
    .hero-sidebar-container .chapter-links {
        padding-left: 1000px;
        }
