.middle-container {
    width: 100%;
}
.middle-container .middle-group {
    
    margin-left: auto;
    margin-right: auto;
}
.middle-container .cards-group {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 0 0 10px black;
    margin-bottom: 30px;
    border-radius: 10px;
}
.middle-container  .card-image img {
    width: 250px;
    border-radius: 10px;
}
.middle-container .card-text {
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 23px;
    
}
.middle-container .card-text a {
    /* color: white; */
    font-size: 15px;
}


@media screen and (min-width:992px) {
    .middle-container {
       
    }
    .middle-container .cards-group {
        width: 400px;
    }
    .middle-container .card-image img {
        width: 400px;
    }
    .middle-container .middle-group {
        display:flex;
        margin-left: auto;
        margin-right: auto;
    }
}